/* border-bottom: 1px solid #eee; */


.lessons-sell-contents {
  background-color: #f5f5f5;
  font-family: "Source Sans Pro", Helvetica, Arial, "æ¸¸ã‚´ã‚·ãƒƒã‚¯ä½“", "YuGothic", "ãƒ¡ã‚¤ãƒªã‚ª", "Meiryo", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 500px;
}

.lessons-sell-header {
  padding: 5vh 0;
  text-align: center;
}

.lessons-sell-main {
  background-color: #FFF;
  width: 70vw;
  min-width: 450px;
  padding: 10vh 15vw;
}

.lessons-sell-title {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 0 0 20px 0; 
}

.lessons-zoom-url {
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  padding: 20px 0 20px 0; 
}

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.to-top-btn {
  background:#ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
}

/* /下部ボタン */

.lessons-sell-footer {
  background-color: #f5f5f5;
  width: 60vw;
  padding: 3ch 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.lessons-sell-footer>.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 3vh 0;
}

.menu>li>a {
  color: black;
  font-size: 12px;
  margin: 2vw;
}

.inc {
  font-size: 13px;
}