* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100vw;
  padding: 2vh 15vw;
  display: flex;
  flex-direction: column;
  background-color:#FFFFFF;
}

.search-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.lesson-icon {
  width: 10vw;
  margin-right: 10vw;
}

.search-form {
  width: 65vw;
  height: 5vh;
  display: flex;
  margin-bottom: 5px;
}

.search-form>.search-input {
  width: 100%;
  height: 5vh;
  padding-left: 10px;
}

.search-button {
  width: 5vh;
  border: 0;
  cursor: pointer;
  background-color:#FF4F02;
  padding: 8px;
}

.search-icon {
  width: 100%;
}

.nav {
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
}

.lists-left {
  display: flex;
  min-width: 100px;
  height: 40px;
  }

.lists-left li, .lists-right li{
  position: relative;
  width: 100%;
  text-align: center;
  }

.lists-left li a, .lists-right li a{
  display: block;
  color: #333333;
  font-size: 14px;
  text-decoration: none;
  }

.lists-left li:hover > a, .lists-right li:hover > a{
  background: #fff;
  color: #333333;
  }

.lists-left li ul, .lists-right li ul{
  position: absolute;
  top: 100%;
  }

.lists-left li ul li, .lists-right li ul li{
  overflow: hidden;
  width: 200%;
  height: 0;
  color: #fff;
  }

.lists-left li ul li a, .lists-right li ul li a{
  padding: 13px 15px;
  background: #fff;
  text-align: left;
  font-size: 12px;
  font-weight: normal;
  }

.lists-left li:hover ul li, .lists-right li:hover ul li{
  overflow: visible;
  height: 38px;
  }

.lists-right {
  display: flex;
  min-width: 200px;
  list-style-type: none;
  height: 40px;
  border-radius: 3px 3px 0 0;
}

.user-nickname {
  text-decoration: none;
  margin-right: 3vw;
  color: #333333;
  font-weight: bold;
}

.logout {
  text-decoration: none;
  color: #333333;
}