<div class="lessons-sell-contents">
  <header class="lessons-sell-header">
    <%= link_to image_tag('lesson-logo.png' , size: '185x50'), "/" %>
  </header>

  <div class="lessons-sell-main">
    <div class="lessons-sell-title">
      レッスンで使うzoomのURL
    </div>
    <div class="lessons-zoom-url">
      <%= @lesson.teacher.zoom_url %>
    </div>
    <div class="sell-btn-contents">
      <%=link_to 'トップ画面にもどる', root_path, class:"to-top-btn" %>
    </div>
  </div>

  <footer class="lessons-sell-footer">
    <ul class="menu">
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">ENGlISH_LESSON利用規約</a></li>
      <li><a href="#">特定商取引に関する表記</a></li>
    </ul>
    <%= link_to image_tag('lesson-logo.png' , size: '185x50'), "/" %>
    <p class="inc">
      ©︎ENGLISH_LESSON,Inc.
    </p>
  </footer>
</div>